header {
  width: 100%;
  height: 88px;
  background-color: #2a2a2a;
  position: fixed;
  top: 0px;
}

.container {
  margin: 85px auto;
  width: 100%;
  background-color: #f2f2f2;
  /*border: 1px dotted black; */
}
th {
  text-align: left;
}

header .container_12 {
height: 88px;
}

header a {
  color: #fff;
}

.small_profile {
  height: 42px;
  width: 42px;
}

#share_stream {
  padding-top: 60px;
}

#share_card {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

#logo {
  margin-top: 20px;
}

.header_link_wrapper {
  margin-top: 20px;
  float: right;
}

/*Header Icons*/

.header_icon {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: #ea4c88;
  float: left;
  margin-right: 15px;
}

.header_link_wrapper p {
  font-size: 11px;
  text-transform: uppercase;
}

#share {
  background-image: ;
  width: 100%;
  height: 100%;
}

#stream {
  background-image: url("http://i.imgur.com/EFEP9i8.png");
  width: 100%;
  height: 100%;
}

