<form action='<%= "/shares/new" %>' method="post">

  <label name="songs[title]">Title:</label>
  <br />
  <input type="text" name="songs[title]"/>
  <br />

  <label name="songs[artist]">Artiste:</label>
  <br />
  <input type="text" name="songs[artist]"/>
  <br />

  <label name="songs[link]">Link:</label>
  <br />
  <input type="text" name="songs[link]"/>
  <br />

  <input type="submit">
</form>
