<form action='<%= "/shares/new" %>' method="post">

  <label name="song[title]">Title:</label>
  <br />
  <input type="text" name="song[title]"/>
  <input type="text" name="song[title]"/>
  <br />

  <label name="song[artist]">Artiste:</label>
  <br />
  <input type="text" name="song[artist]"/>
  <br />

  <label name="song[link]">Link:</label>
  <br />
  <input type="text" name="song[link]"/>
  <br />

  <input type="submit">
</form>
