<div class="profile_container">
  <div class="grid_3">
    <img src="" alt="Profile picture" class="large_profile_picture">
  </div>
  <div class="grid_9" id=""> 
        <p>Username: <%= @user.username %></p>
        <p>User since: <%= @user.created_at %></p>
        <p>Songs shared:<%= @shares.where("user_id = ?", @user.id).count %></p>
  </div>
</div>