
<div class="container_12 body_container">
  <div class="grid_12 rounded_card">
  <h2>Sign-up to Kakaw</h2>
  	<div class="alert_message"><%= @message %></div>
			<form action="/users/sign_up" method="post">
				<label name="user[username]">Username:</label>
				<br>
				<input type="text" name="user[username]">

			<br>

				<label name="user[email]">Email:</label>
				<br>
				<input type="text" name="user[email]">

			<br>

				<label name="user[password]">Password:</label>
				<br>
				<input type="password" name="user[password]">

			<br>

				<label name="user[password_confirm]">Password Confirm:</label>
				<br>
				<input type="password" name="user[password_confirm]">

				<!-- Don't forget Avatars!!! -->
			<br>
				<input type="submit" value="Sign Up!">
			</form>


			</div>
	</div>
</div>	



