<div class="alert_message"><%= @message %></div>

<div class="container">

<form action="/users/sign_up" method="post">
	<label name="user[username]">Username:</label>
	<br>
	<input type="text" name="user[username]">

<br>

	<label name="user[email]">Email:</label>
	<br>
	<input type="text" name="user[email]">

<br>

	<label name="user[password]">Password:</label>
	<br>
	<input type="password" name="user[password]">

<br>

	<label name="user[password_confirm]">Password Confirm:</label>
	<br>
	<input type="password" name="user[password_confirm]">


<br>
	<input type="submit" value="Sign Up!">
</form>

</div>